@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --maroon: #8B0000;
    --bg: #0a0a0a;
    --shadow: 0 2px 2px rgb(0 0 0/0.5);
}

.bukaan::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/bgwedding.jpg);
    background-position: center center;
    z-index: -1;
    filter: blur(7px);
}

.bukaan {
    position: relative;
    min-height: 100vh;
    margin-right: auto !important;
    margin-left: auto !important;
    align-items: center !important;
    justify-content: center !important;
    display: flex;
    padding: 5rem;
    font-family: 'Montserrat';
}

.text-white {
    color: white;
}

.dace {
    font-family: 'Dancing Script', cursive;
}

.bukaan button {
    border: none;
    color: var(--maroon);
    background-color: white;
}

.bukaan a:hover,
button:hover {
    background-color: var(--maroon);
    color: white;
}

.bukaan h1,
.bukaan h4,
.bukaan p {
    text-shadow: var(--shadow);
}

.barx {
    list-style: none;
    margin: 0;

    float: right;

    line-height: 45px;
    display: flex;
    justify-content: center;
    align-items: center
}

.barx>a {
    color: #777;
    background-color: transparent;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    position: relative;

}

.barx>a>i {
    font-size: 25px;
}


@media (max-width: 767px) {
    .barx>a>span {
        display: none;
    }

    .navbar-header {
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .barx {
        float: none;
    }
}

@media (max-width: 991px) {
    .barx {
        float: none;
    }

    .navbar-header {
        justify-content: center;
        align-items: center;
        display: flex;
    }

}

.btn.active,
.btn:active {
   color: #b73535;
   font-weight: 500;
}